/.vs/
**/.vscode/
**/bin/
**/obj/
**/TestResults/
*.rsuser
*.sln.docstates
*.suo
*.user
*.userosscache

/frontend/web-admin/.angular/
/frontend/web-admin/coverage/
/frontend/web-admin/dist/
/frontend/web-admin/node_modules/
/frontend/web-admin/playwright-report/
/frontend/web-admin/test-results/

.DS_Store
